
<h4 id="graphTitle">Detection Frequency and Use</h4>

<div id="freqUseLengend">
	<div class="legendItem">
		<div class="legendColorSquare" id="brown"></div>
		2013
	</div>
	<div class="legendItem">
		<div class="legendColorSquare" id="yellow"></div>
		93-12
	</div>
	<div class="legendItem">
		<div class="legendColorSquare" id="gray"></div>
		>.1 ug/L
	</div>
</div>

{{#each .}}
<div class="freqUseChart">
	<div class="pesticideName">
		<h4>{{pestName}}</h4>
	</div>
	<div class="freqUseBars">
		<div class="barSamples">
			<p class="topSample">{{topSample}}</p>
			<p class="bottomSample">{{bottomSample}}</p>
		</div>
		<div class="upperBar">
			<span title="{{upperUgl}}" class="ugL" style="width:{{upperUgl}}%"></span>
			<span title="{{previousWaterYear}}" class="previousWaterYear" style="width:{{previousWaterYear}}%"></span>
		</div>
		<div class="lowerBar">
			<span title="{{lowerUgl}}" class="ugL" style="width:{{lowerUgl}}%"></span>
			<span title="{{oldWaterYear}}" class="oldWaterYear" style="width:{{oldWaterYear}}%"></span>
		</div>
	</div>
</div>
{{/each}}

<div id="percentageScale">
	<div class="scaleMark"></div>
	<span class="scaleNumber" id="scaleZero">0</span>
	<div class="scaleMark" id="twentyPercent"></div>
	<span class="scaleNumber" id="scaleTwenty">20</span>
	<div class="scaleMark" id="fourtyPercent"></div>
	<span class="scaleNumber" id="scaleFourty">40</span>
	<div class="scaleMark" id="sixtyPercent"></div>
	<span class="scaleNumber" id="scaleSixty">60</span>
	<div class="scaleMark" id="eightyPercent"></div>
	<span class="scaleNumber" id="scaleEighty">80</span>
	<div class="scaleMark" id="oneHundredPercent"></div>
	<span class="scaleNumber" id="scaleHundred">100</span>
	<p>Percentage of time detected</p>
</div>



