
<h4>Pesticides - {{ previousWaterYear }}</h4>

<div class="pesticideChartSection">
	{{n3}}
	<p>Pesticides Analyzed</p>
</div>

<div class="downLine"></div>

<div class="pesticideChartSection">
	{{ndets3}}
	<p>Pesticides Detected</p>
</div>

<div class="downLine"></div>

<div class="acrossAndDownLine"></div>

<div class="pesticideDoubles">

	<div class="pesticideChartSection">
		{{npest3Hh}}
		<p>Pesticides with human-health benchmarks</p>
	</div>
	
	<div class="pesticideChartSection">
		{{nAq3}}
		<p>Pesticides with aquatic-life benchmarks</p>
	</div>
	
</div>

<div class="leftSideDownLine">
	<div class="downLine"></div>
</div>

<div class="rightSideDownLine">
	<div class="downLine"></div>
</div>

<div class="pesticideDoubles">

	<div class="pesticideChartSection">
		{{nHh3}}
		{{#pesticideExceed nHh3}}
			<p class="clickForHuman">Pesticides exceeded human-health benchmarks</p>
		{{else}}
			<p>Pesticides exceeded human-health benchmarks</p>
		{{/pesticideExceed}}
		<div id="humanExceedances">
			<p>{{pest3ExceedHh}}</p>
		</div>
	</div>
	
	<div class="pesticideChartSection">
		{{nAq}}
		{{#pesticideExceed nAq}}
			<p class="clickForAquatic">Pesticides exceeded aquatic-life benchmarks</p>
		{{else}}
			<p>Pesticides exceeded aquatic-life benchmarks</p>
		{{/pesticideExceed}}
		<div id="aquaticExceedances">
			<p>{{pestNewExceedAq}}</p>
		</div>
	</div>
	
</div>
