
<h4>Pesticides - 2013</h4>

<div class="pesticideChartSection">
	{{n3}}
	<p>Pesticides Analyzed</p>
</div>

<div class="downLine"></div>

<div class="pesticideChartSection">
	{{ndets3}}
	<p>Pesticides Detected</p>
</div>

<div class="downLine"></div>

<div class="acrossAndDownLine"></div>

<div class="pesticideDoubles">

	<div class="pesticideChartSection">
		{{npest3Hh}}
		<p>Pesticides with human-health benchmarks</p>
	</div>
	
	<div class="pesticideChartSection">
		{{nAq3}}
		<p>Pesticides with aquatic-life benchmarks</p>
	</div>
	
</div>

<div class="leftSideDownLine">
	<div class="downLine"></div>
</div>

<div class="rightSideDownLine">
	<div class="downLine"></div>
</div>

<div class="pesticideDoubles">

	<div class="pesticideChartSection">
		{{nHh}}
		<p>Pesticides exceeded human-health benchmarks</p>
	</div>
	
	<div class="pesticideChartSection">
		{{nAq}}
		<p>Pesticides exceeded aquatic-life benchmarks</p>
	</div>
	
</div>
